.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardData {
    margin-top: 12px;
    /* background: white; */
}

.suggestion {
    height: 200px;
    /* border: solid black 1px; */
    width: 100%;
    text-align: center;
    color: rgb(106, 236, 92);
}
