

.card {
    margin-top: 3vh;
    min-width: 200px;
    padding: 10px;
    flex-wrap: wrap;
    font-family: 'Single Day', cursive;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.loading {
    height: 50px;
    width: 50px;
}

 .loading img{
   height: 100%;
   width: 100%;
}



input {
    min-width: 300px;
    height: 50px;
    border-radius: 12px 0 0 12px;
    border: 1px solid;
    padding: 2px;
}

button {
    height: 56px;
    border-radius: 0 12px 12px 0;
    width: 80px;
    border: 1px solid;
}

.card img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
.details {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}

.details .right {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    align-items: center;
    line-height: 15px;
}


ul {
    list-style: none;
}

.degree {
    color: rgb(207, 28, 97);
}

.down {
    font-size: .8rem;
    display: flex;
    justify-content: space-around;
}